*{
    margin: 0;
    padding: 0;
}
html{
    width: 100%;
    height: 100%;
}
body{
    display: flex;
    height: 100%;
    width: 100%
}
#core{
    position: relative;
    width: 100%;
    height: 100%;
}
#grid_holder{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 0;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}
ul {
    list-style-type: none;
}
#block_holder{
    pointer-events: none;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}
.layer{
    pointer-events: none;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}
#menu{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 800px;
    border: 2px solid black;
}
.grid_cell{

    border:  1px solid black;
}
.block{
    position: relative;

}
